// VARS
// ----
$max-site-width: 960px;
$gutter:            30px;
$gutter-one-sixth:  $gutter*(1/6); // equivalent to 5px
$gutter-one-third:  $gutter*(1/3); // equivalent to 10px
$gutter-half:       $gutter*(1/2); // equivalent to 15px
$gutter-two-thirds: $gutter*(2/3); // equivalent to 20px
$right-to-left: false !default;


// MIXINS
// ------
@mixin right-to-left {
  @if $right-to-left {
    @content;
  }
}
@mixin left-to-right {
  @if $right-to-left == false {
    @content;
  }
}

// Suitable for captions, buttons etc
@mixin ig-core-14 {
  font-family: $NTA-Light;
  font-size: 14px;
  line-height: 1.4285714286; // 20 / 14
  font-weight: 400;
  text-transform: none;
  padding-top: 6px;
  //padding-bottom: 4px;
  @media (max-width: 640px) {
    font-size: 12px;
    line-height: (15/12);
    padding-top: 4px;
    padding-bottom: 1px;
  }
}

// STYLES
// ------

.clear {
  clear: both;
}

#global-header,
#footer,
.hide,
.mobile-show {
  display: none;
}

.alert {
  position: fixed;
  width: 80%;
  left: 10%;
  top: 10px;
  padding: 5px 10px;
  padding-right: 30px;
  color: #8a6d3b;
  text-align: center;
  background: #fcf8e3;
  border: 1px solid #faebcc;
  @include border-radius(4px);

  &.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
  }
}

.close {
  position: absolute;
  right: 4px;
  top: 5px;
  margin: 0;
  padding: 5px;
  padding-bottom: 0;
  color: inherit;
  font-size: 18px;
  line-height: 1;
  background: transparent;
  border: none;
}

.filter-block {
  margin-bottom: $gutter-two-thirds;
  padding: $gutter-one-third;
  background: $grey-8;

  .business-location {
    margin:0 0 30px 0;
  }

  display: block;


  h2 {
    @include core-16;
    //padding-top: $gutter-one-third;
  }

  form {
    padding: 0;
    //border-top: 10px $light-blue solid;
    //margin-top:1.5em;

    fieldset {
      position: relative;
      margin: 0;

      .filter {
        width: 100%;
        margin-top: 0;

        @include media (tablet) {
          margin-top: 0;
        }
      }
    }
  }

  .sub-filter {
    margin-top: $gutter-half;
  }

  label {
    @include ig-core-14;
    color: $grey-5;
    font-weight: bold;

    &.title {
      @include copy-19;
      font-weight: bold;
      display:block;
      margin-bottom:2px;
    }

    &.sub-title {
      @include core-19;
    }
  }

  .hint {
    display: block;
    @include ig-core-14;
    color: $grey-1;
    font-size: 13px;
    margin:0 0 5px 0; padding:0;
  }

  input {
    @include ig-core-14;
    border: 1px solid $grey-3;
    width: 100%;
    margin: 0;
    @include media (desktop) {
      padding: $gutter-one-sixth 0;
      text-indent: $gutter-one-third;
    }

    border-color: $border-colour;

    &.boolean {
      width: auto;
      margin-right: 10px;
    }
  }

  select {
    @include ig-core-14;
    background: #fff;
    line-height: 1.3;
    width: 100%;
  }

  .checkbox input {
    width: auto;
  }

  .multi-row-select {
    width: 100% !important;
    max-width: 180px;
    display: block;
    margin-bottom: $gutter-one-third;
    @include appearance(none);

    .select2-choices {
      background: $grey-7;
      border-color: #ccc;
      border-top-color: #999;
    }

    &.select2-container-active .select2-choices,
    &.select2-dropdown-open .select2-choices {
      background: #fff;
      border-color: #5897fb;
    }
  }

  @include media (tablet) {
    .single-row-select {
      border: 1px solid #555;
      padding: $gutter-one-sixth $gutter-one-sixth $gutter-one-sixth $gutter-one-third;
      width: 100%;
      background: #fff;
      background-image: image-url('https://assets.digital.cabinet-office.gov.uk/government/assets/dropdown-arrow-small-a4f4e2df48e8d34de458bddf58e83a8a.png');
      background-repeat: no-repeat;
      background-position: right center;
      border-color: $border-colour;
      @include box-shadow(1px 1px 1px #fff);
      @include border-radius($gutter-one-sixth);
      @include appearance(none);
    }
  }

  .date-range {
    padding-bottom: $gutter-one-third;

    h3 {
      @include ig-core-14;
      font-weight: bold;
      display: inline;
      padding-right: $gutter-half;
    }

    label {
      position: relative;
      @include ig-core-14;
      padding-left: $gutter-two-thirds;
      padding-right: $gutter-one-third;
      &.visuallyhidden {
        position: absolute;
      }
    }
  }

  .checkbox {
    position: relative;
    label {
      @include ig-core-14;
      display: block;
      padding-left: $gutter-two-thirds;
    }
    input {
      position: absolute;
      top: $gutter-one-sixth;
      left: 0;
      @include media (tablet) {
        top: $gutter * 0.25;
      }
    }
  }

  .submit {
    padding: $gutter-two-thirds 0 $gutter-one-third;
    margin: $gutter-one-sixth 0 0;

    @include media (desktop) {
      padding-bottom: 0;
    }
  }



  .disabled {
    opacity: 0.3;
    cursor: default;
    @include ie-lte(7){
      color: $secondary-text-colour;
    }
  }
}


.filter-results {
  padding-top: $gutter;

  .no-results {
    padding: $gutter 0 $gutter-half;
    //border-bottom: 1px solid $border-colour;
    h2 {
      @include core-27;
    }
    h3 {
      @include core-19;
      font-weight: bold;
    }
    p {
      @include core-19;
      margin: $gutter-half 0;
    }
  }
}

.filter-results-summary {
  display: block;
  padding:0;
  margin:0;
    line-height: 1;

  h3 {
    @include copy-16;
    color: $grey-5;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
    display: inline-block;
    padding-right: $gutter-one-third;
    margin-top:0;
    padding-top: 0;
    padding-bottom: 0;

    @media (max-width: 640px) {
      font-size: 11px;
    }

    @include media(tablet){
      padding-top: 0;
      padding-bottom: 0;
    }

    span {
      display: inline-block;
      padding-bottom:0px;

      @include media(tablet){
        padding-bottom: 0;
      }
    }
  }


  .feeds {
    margin:52px 0 0 0;
    float:right;
    display: block;
  }

  .count{
    padding-bottom: 0;
  }

  .selections {
    @include core-16;
  }

  .chosen {
    margin-bottom: $gutter-one-third;
    line-height: $gutter;

    strong {
      //@include bold;
      background-color: $panel-colour;
      padding: 0 $gutter-one-sixth;
      @include border-radius(3px);

      @include media (tablet) {
        white-space: nowrap;
      }

      a {
        position: relative;
        top: 2px;
        color: $link-colour;
      }
    }
  }
}

.select2-container-multi .select2-choices .select2-search-choice {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding: 5px;
  padding-bottom: 1px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  background: $accent-block-colour;
  border: none;
  @include border-radius(0);
  @include box-shadow(none);

  div {
    display: inline-block;
    max-width: 140px;
    margin-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .select2-search-choice-close {
    left: auto;
    right: 2px;
    top: 50%;
    margin-top: -5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background: image-url('icon-close.png') no-repeat top left;

    &:hover {
      background-position: 0 0;
      @include opacity(0.8);
    }

    @include device-pixel-ratio {
      margin-top: -4px;
      background-image: image-url('icon-close@2.png') !important;
      background-position: 0 0 !important;
      background-size: 9px 9px !important;
    }
  }
}

ul.tags-list {
  list-style: none;
  margin: 0;
  margin-bottom: $gutter-one-third;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 7px;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    background: $accent-block-colour;

    span {
      display: inline-block;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      margin-left: 5px;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

ul.results-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  margin-top: 5px;

  li {
    margin: 0;
    padding-top: $gutter-two-thirds;
    padding-bottom: $gutter-one-third;
    border-bottom: 1px dotted $grey-2;

    h3 {
      @include copy-19;
      color: $accent-link-colour;
      font-size: 18px;
      font-weight: bold;

      a {
        color: $accent-link-colour;
      }

      @include media(tablet){
        padding:0;
        margin:0;
      }

      a {
        text-decoration:none;
      }

      a:hover {
        text-decoration:underline;
      }
    }

    p {
      padding:0;
      margin:0;
      margin-top: 4px;
      margin-bottom: 10px;
      color: $grey-5;
      font-family: Verdana, Arial, sans-serif;
      font-size: 11px;
      letter-spacing: -1px;
      line-height: 1.63636364;

      &.attributes {
        @include ig-core-14;
        color:$grey-1;

        @include media(tablet){
          padding:0; margin:0;
          margin-top:2px;
        }

      }
    }

    > a {
      margin-right: 10px;
      font-size: 11px;
    }
  }
}


.inner-block {
  padding: 0 $gutter-half;

  @include media(tablet){
    padding: 0 $gutter;
  }

  &.floated-children {
    @extend %contain-floats;

    padding: 0;

    @include media(tablet){
      padding: 0 $gutter-half;
    }
  }
  .no-matching-schemes {
    h2 {
      margin-top: $gutter-two-thirds;
      margin-bottom: 0;
      padding: 0;
    }

    p {
      margin-top: $gutter-one-sixth;
      @include ig-core-14;
    }
  }
}

.button {
  @include button;
  @include bold-24;
  //padding: 0.45em 0 0.35em 0;
  //width: 100%;

}

.feed {
  display: inline-block;
  padding: 0 $gutter-one-third 0 $gutter-two-thirds;
  font-weight: bold;
  background: image-url('https://assets.digital.cabinet-office.gov.uk/government/assets/feed-icon-black-2797379a53d9064b97bc610ee4d3adae.png') 0 40% no-repeat;
}
.govdelivery {
  display: inline-block;
  padding: 0 $gutter-one-third 0 $gutter-two-thirds+$gutter-one-sixth;
  font-weight: bold;
  background: image-url('https://assets.digital.cabinet-office.gov.uk/government/assets/mail-icon-d0277821fbdd6977b32433de46f5fec7.png') 0 40% no-repeat;
  // @include hidpi {
  //   background-image: image-url('mail-icon-x2.png');
  //   background-size: $gutter-two-thirds 14px;
  // }
}

.previous-next-navigation {
  background: transparent;
  margin-left: -45px;
  width: auto;
  // @media (max-width: 640px) {
  //   margin-left: 0;
  //   width: 100%;
  // }

  position: relative;
  overflow: hidden;
  margin-top: $gutter*2;
  width: 100%;

  li {
    @include core-27;
    display: block;
    padding: 0;
    margin: 0;
    width: 45%;
    float: left;

    &.next {
      float: right;
      text-align: right;

      a {
        padding: $gutter-half $gutter-half+30px $gutter-half 0;
      }
      a:before {
        background: transparent image-url("https://assets.digital.cabinet-office.gov.uk/government/assets/arrow-sprite-2B8CC4-93afeb702f53a20045ad9f4ab8170825.png") no-repeat -102px -11px;
        margin: -4px -32px 0 0;
        display: block;
        float: right;
        width: 30px;
        height: 38px;
        content: " ";
      }
    }
    &.previous {
      a {
          padding: $gutter-half 0 $gutter-half $gutter-half+30px;
      }
      a:before {
        background: transparent image-url("https://assets.digital.cabinet-office.gov.uk/government/assets/arrow-sprite-2B8CC4-93afeb702f53a20045ad9f4ab8170825.png") no-repeat -20px -11px;
        margin: -4px 0 0 -32px;
        display: block;
        float: left;
        width: 30px;
        height: 38px;
        content: " ";
      }
    }

    a {
      display: block;
      text-decoration: none;

      span {
        display: block;
        @include ig-core-14;
      }
      &:focus span,
      &:hover span {
        text-decoration: underline;
      }
      &:hover {
        background: $grey-4;
      }
      &:active {
        background: $grey-3;
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      float: none;
      &.next {
        float: none;
        a {
          padding: $gutter-half $gutter-half+30px;
        }
      }
      &.previous {
        a {
          padding: $gutter-half 0 $gutter-half $gutter-half+30px;
        }
      }
    }
  }
  &.infinite {
    background: transparent;
    li {
      text-align: left;
      float: none;
      padding-left: 40px;
      margin: 0 auto;
      width: 240px;
      a {
        padding: 15px 0;
      }
    }
    &.loading li {
      background: transparent image-url("loading-2b2c2d.gif") no-repeat 0 50%;
    }
  }
}

.business-support-finder .js-hidden { display: none; }

// <---------------------
// STYLES BORROWED FROM WHITEHALL APP
// FOR PROTOTYPE ONLY






// CUSTOM STYLES AND OVERRIDES
// WRITTEN FOR THIS PROTOTYPE

.scheme-finder-frontend {
  padding-top: 55px;
  background: image-url('box-corner.png') no-repeat top left;

  @include device-pixel-ratio {
    background-image: image-url('box-corner@2.png');
    background-size: 77px 36px;
  }

  .intro {
    padding-left: $gutter-two-thirds;
  }

  header.page-header {
    div {
      margin:0;
      padding-left: $gutter-two-thirds;
    }

    h1 {
      color: $accent-link-colour;
      font-size: 18px;
      font-weight: bold;
    }
  }

  h2 {
    margin-bottom: $gutter;
    padding-left: $gutter-two-thirds;
    @include ig-core-14;
    color: $grey-5;
    font-weight: bold;
  }

  .block-6 {
    padding-left: $gutter-two-thirds;
  }

  .button {
    padding: 6px 12px;
    padding-right: 30px;
    @include ig-core-14;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background: $accent-block-colour image-url('button-corner.png') no-repeat bottom right;
    border: none;
    @include box-shadow(none);

    &.disabled:hover,
    &[disabled="disabled"]:hover,
    &[disabled]:hover {
      background-color: $accent-block-colour;
    }

    @include device-pixel-ratio {
      background-image: image-url('button-corner@2.png');
      background-size: 22px 22px;
    }

    @media (max-width: 640px) {
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }
}

.search-page .article-container {
  margin-right:0;
  max-width:none;
}

.scheme-finder-search {
  @include media(tablet) {
    .block-2 {
      float: left;
      width: 41.1290323%;
      .inner-block {
        padding: 0 $gutter 0 $gutter-two-thirds;
      }

      @include right-to-left {
        float: right;
        .inner-block {
          padding: 0 $gutter 0 $gutter*1.5;
        }
      }
    }

    .block-4 {
      float: left;
      width: 58.870967%;
      .inner-block {
        padding: 0 $gutter 0 $gutter-half;
      }

      @include right-to-left {
        float: right;
        .inner-block {
          padding: $gutter-one-sixth $gutter-half 0 $gutter;
        }
      }
    }
  }
}

.filter-block  form fieldset .filter.search_had_direct_interactions {
  display: block;
  margin: -$gutter-one-third;
  margin-bottom: $gutter-two-thirds;
  padding: $gutter-one-third;
  background: $grey-6;
}

.block-2 .want-submit-own-scheme {
  margin-bottom: $gutter;

  h3 {
    @include ig-core-14;
    color: $black;
    font-weight: bold;
    margin-bottom: $gutter-one-third;
  }
}

.form-inputs {
  .input {
    clear: both;
  }

  label {
    float: left;
    min-width: 180px;
    @include ig-core-14;
    color: $grey-5;
    font-weight: bold;

    abbr {
      color: red;
    }
  }

  .input.boolean {
    margin-left: 180px;
    margin-bottom: 10px;

    label {
      float: none;
    }
  }

  .grouped_select,
  .multi_select {
    max-width: 400px;
  }

  .select2-container-multi {
    width: 55% !important;
    display: block;
    margin-left: 180px;
    margin-bottom: $gutter-one-third;
    @include appearance(none);

    .select2-choices {
      background: $grey-7;
      border-color: #ccc;
      border-top-color: #999;
    }

    &.select2-container-active .select2-choices,
    &.select2-dropdown-open .select2-choices {
      background: #fff;
      border-color: #5897fb;
    }
  }

  input.string,
  input.numeric,
  textarea {
    float: left;
    width: 210px;
    margin: 0;
    padding: 5px;
    @include ig-core-14;
    background: $grey-7;
    border: 1px solid #ccc;
    border-top-color: #999;
    margin-bottom: 10px;
    @include appearance(none);
    @include border-radius(0);
  }

  input.numeric {
    width: 50px;
  }

  textarea {
    width: 390px;
    margin-bottom: 10px;
  }
}

.form-actions {
  max-width: 582px;
  margin-top: 30px;

  @media (max-width: 640px) {
    max-width: 400px;
  }

  .button {
    float: right;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape), only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait), only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape), only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {

  html, body {
    &.no-scroll {
      height: 100%;
      overflow: hidden;
    }
  }

  .mobile-show {
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .filter-block .multi-row-select.select2-container-active .select2-choices,
  .filter-block .multi-row-select.select2-dropdown-open .select2-choices {
    @include box-shadow(none);
  }

  .select2-container-multi .select2-choices .select2-search-choice {
    margin-top: 6px;
    margin-right: 1px;
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 12px;
  }

  .select2-drop {
    position: fixed !important;
    top: 0 !important;
    left: auto !important;
    right: 0 !important;
    width: 215px !important;
    height: 101% !important;
    background: $grey-9;
    border: none !important;
    @include border-radius(0 !important);
    @include box-shadow(0 -4px 5px rgba(0, 0, 0, 0.25));

    .select2-results {
      max-height: 100%;
      margin: 0;
      padding: 0;

      .select2-selected {
        display: block;
        background: image-url('icon-select-check.png') no-repeat right center;

        @include device-pixel-ratio {
          background-image: image-url('icon-select-check@2.png');
          background-size: 31px 18px;
        }
      }

      .select2-highlighted {
        background: transparent;
        color: inherit;
      }

      .select2-result-label {
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 15px;
        color: $grey-5;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid $grey-10;
      }

      > .select2-result:last-child .select2-result-label {
        margin-bottom: $gutter-half;
        border-bottom: none;
      }

      .select2-result-with-children > .select2-result-label {
        display: none;
      }

      ul.select2-result-sub > li .select2-result-label {
        padding-left: 15px;
      }
    }
  }

  #back-banner {
    background: $accent-link-colour;

    a {
      display: block;
      width: 39px;
      height: 39px;
      background: image-url('arrow-back-mobile.png') no-repeat center center;
      text-indent: -9999px;

      @include device-pixel-ratio {
        background-image: image-url('arrow-back-mobile@2.png');
        background-size: 39px 39px;
      }
    }
  }

  .form-actions {
    max-width: none;
  }

  .scheme-finder-frontend {
    position: relative;
    padding-top: 0;
    background: $white;

    &.select2-open {
      background: $grey-7;
    }

    #content {
      padding: 0 20px;
      padding-top: 40px;
      border: 25px solid $grey-7;
      border-top: none;
    }

    header.page-header div {
      padding-left: 0;
    }

    .inner-block {
      padding-left: 0;
      padding-right: 0;
    }

    .scheme-finder-search > h2 {
      display: none;
    }

    .button {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      font-size: 16px;
      background-image: image-url('button-corner-mobile.png');

      @include device-pixel-ratio {
        background-image: image-url('button-corner-mobile@2.png');
        background-size: 11px 11px;
      }
    }

    header.page-header {
      div {
        margin-bottom: $gutter;
      }

      h1 {
        font-size: 14px;
      }
    }

    .filter-block {
      &,
      form fieldset .filter.search_had_direct_interactions {
        margin: 0;
        margin-bottom: $gutter-half;
        padding: 0;
        background: transparent;
      }

      input.boolean {
        display: inline-block;
        position: absolute;
        width: 1.2em;
        height: 1.2em;
        margin-top: 0.4em;
        background: $grey-7;
        border: 1px solid #999;
        @include appearance(none);
        @include border-radius(1000px);

        &:checked {
          background: $grey-5;
          @include box-shadow(inset 0px 0px 0px 3px $grey-7);
        }
      }

      label.boolean {
        display: inline-block;
        position: relative;
        left: 1.8em;
        font-size: 11px;
        line-height: 1.3333;
      }

      .multi-row-select {
        max-width: none;
      }
    }

    ul.results-list {
      margin-bottom: $gutter;

      li {
        padding-top: $gutter-one-sixth;

        h3 {
          font-size: 13px;
        }

        p {
          margin-top: 0;
          font-size: 7px;
          letter-spacing: 0;
        }

        > a {
          font-size: 8px;
        }
      }
    }
  }

  .start-page {
    #back-banner {
      display: none !important;
    }

    .scheme-finder-frontend {
      #content {
        padding-top: 80px;
      }

      header.page-header {
        div {
          padding-left: 0;
        }

        h1 {
          font-size: 22.5px;
          text-align: center;
        }
      }

      .intro {
        width: 220px;
        margin: 0 auto;
        padding-left: 0;
        text-align: center;

        p {
          color: $grey-5;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}