// VARS
// ----

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

$custom-font-family: 'Lato', sans-serif;
$max-site-width: 960px;
$gutter:            30px;
$gutter-one-sixth:  $gutter*(1/6); // equivalent to 5px
$gutter-one-third:  $gutter*(1/3); // equivalent to 10px
$gutter-half:       $gutter*(1/2); // equivalent to 15px
$gutter-two-thirds: $gutter*(2/3); // equivalent to 20px
$right-to-left: false !default;


// MIXINS
// ------
@mixin right-to-left {
  @if $right-to-left {
    @content;
  }
}
@mixin left-to-right {
  @if $right-to-left == false {
    @content;
  }
}

// iOS conditionals
$iphone-width: 320px;
$iphone-old-height: 480px;
$iphone-height: 568px;
$ipad-width: 768px;
$ipad-height: 1024px;

@mixin is-ios {
  @media only screen and (min-device-width : $iphone-width) and (max-device-width : $iphone-old-height) and (orientation : landscape), 
  only screen and (min-device-height : $iphone-width) and (max-device-height : $iphone-old-height) and (orientation : portrait), 
  only screen and (min-device-width : $iphone-width) and (max-device-width : $iphone-height) and (orientation : landscape), 
  only screen and (min-device-height : $iphone-width) and (max-device-height : $iphone-height) and (orientation : portrait), 
  only screen and (min-device-width : $ipad-width) and (max-device-width : $ipad-height) and (orientation : landscape), 
  only screen and (min-device-height : $ipad-width) and (max-device-height : $ipad-height) and (orientation : portrait) {
    @content;
  }
}

@mixin is-iphone-or-xs-screen {
  @media only screen and (min-device-height : $iphone-width) and (max-device-height : $iphone-old-height) and (orientation : landscape), only screen and (min-device-height : $iphone-width) and (max-device-height : $iphone-old-height) and (orientation : portrait), only screen and (min-device-width : $iphone-width) and (max-device-width : $iphone-height) and (orientation : landscape), only screen and (min-device-width : $iphone-width) and (max-device-width : $iphone-height) and (orientation : portrait), only screen and ($screen-xs-max) {
    @content;
  }
}

@mixin is-iphone {
  @media only screen and (min-device-height : $iphone-width) and (max-device-height : $iphone-old-height) and (orientation : landscape), only screen and (min-device-height : $iphone-width) and (max-device-height : $iphone-old-height) and (orientation : portrait), only screen and (min-device-width : $iphone-width) and (max-device-width : $iphone-height) and (orientation : landscape), only screen and (min-device-width : $iphone-width) and (max-device-width : $iphone-height) and (orientation : portrait) {
    @content;
  }
}

@mixin iphone($orientation) {
  @if ($orientation == "landscape") {
    @media only screen and (min-device-width : $iphone-width) and (max-device-width : $iphone-old-height) and (orientation : landscape), only screen and (min-device-width : $iphone-width) and (max-device-width : $iphone-height) and (orientation : landscape) {
      @content;
    }
  }
  @if ($orientation == "portrait") {
    @media only screen and (min-device-height : $iphone-width) and (max-device-height : $iphone-height) and (orientation : portrait), only screen and (min-device-height : $iphone-width) and (max-device-height : $iphone-old-height) and (orientation : portrait) {
      @content;
    }
  }
}

@mixin is-iphone-old {
  @media only screen and (min-device-width : $iphone-width) and (max-device-width : $iphone-old-height) and (orientation : landscape), only screen and (min-device-height : $iphone-width) and (max-device-height : $iphone-old-height) and (orientation : portrait) {
    @content;
  }
}

@mixin iphone-old($orientation) {
  @if ($orientation == "landscape") {
    @media only screen and (min-device-width : $iphone-width) and (max-device-width : $iphone-old-height) and (orientation : landscape) {
      @content;
    }
  }
  @if ($orientation == "portrait") {
    @media only screen and (min-device-height : $iphone-width) and (max-device-height : $iphone-old-height) and (orientation : portrait) {
      @content;
    }
  }
}

@mixin is-ipad {
  @media only screen and (min-device-width : $ipad-width) and (max-device-width : $ipad-height) and (orientation : landscape), only screen and (min-device-width : $ipad-width) and (max-device-width : $ipad-height) and (orientation : portrait) {
    @content;
  }
}
@mixin ipad($orientation) {
  @if ($orientation == "landscape") {
    @media only screen and (min-device-width : $ipad-width) and (max-device-width : $ipad-height) and (orientation : landscape) {
      @content;
    }
  }
  @if ($orientation == "portrait") {
    @media only screen and (min-device-height : $ipad-width) and (max-device-height : $ipad-height) and (orientation : portrait) {
      @content;
    }
  }
}

// Retina conditional
@mixin is-retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

// Suitable for captions, buttons etc
@mixin ig-core-14 {
  font-family: $NTA-Light;
  font-size: 14px;
  line-height: 1.4285714286; // 20 / 14
  font-weight: 400;
  text-transform: none;
  padding-top: 6px;
  //padding-bottom: 4px;
  @media (max-width: 640px) {
    font-size: 12px;
    line-height: (15/12);
    padding-top: 4px;
    padding-bottom: 1px;
  }
}

// STYLES
// ------

html,
body {
  min-width: 320px;
  height: 100%;
  margin: 0 !important;
  padding: 0;
}

body {
  position: relative;
}

a:focus {
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

hr {
  height: 3px;
  margin: 0;
  color: #777;
  background-color: #777;
  border: none;
}

.clear {
  clear: both;
}

#global-header,
#footer .footer-meta,
.hide,
.mobile-show,
#ipad-check {
  display: none;
}

.visible-iphone {
  display: none;

  @include is-iphone {
    display: block;
  }
}

.visible-iphone-portrait {
  display: none;

  @include iphone("portrait") {
    display: block;
  }
}

#global-cookie-message {
  display: none !important;
}

#footer {
  overflow: hidden;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 77px;
  margin-top: -77px;
  background: #f0f0f0;
  border: none;

  @media (max-width: 660px) {
    height: 99px;
    margin-top: -99px;
  }

  @media (max-width: 480px) {
    height: 183px;
    margin-top: -183px;
  }

  .footer-wrapper {
    max-width: $max-site-width -$gutter-two-thirds*2;
    padding: $gutter-two-thirds;
    padding-top: 30px;
    padding-bottom: 0;
    color: #444;
    font-family: $custom-font-family;
    font-size: 15px;
    background: transparent;

    @media (max-width: 660px) {
      padding-top: 25px;
    }
  }

  a {
    color: #444;
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 480px) {
      margin-bottom: $gutter;
    }

    li {
      display: inline-block;
      margin-right: 40px;
      margin-bottom: $gutter-one-third;

      @media (max-width: 480px) {
        display: block;
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;

    @media (max-width: 660px) {
      color: #777;
    }
  }

  .pull-left,
  .pull-right {
    @media (max-width: 660px) {
      float: none;
      text-align: center;
    }
  }
}

.feedback-link,
.back-link {
  display: inline-block;
  margin-bottom: $gutter;
  margin-right: 10px;
  font-size: 13px;
}

.field_with_errors {
  label {
    color: red !important;
  }

  input.text,
  textarea,
  .select2-container {
    outline: 1px solid red;
    border: 1px solid red !important;
  }

  .select2-container {
    border: none !important;
  }

  .select2-choices {
    border: 1px solid red !important;
  }

  .error {
    margin-left: 10px;
    color: red;
    font-size: 13px;

    @media (max-width: 770px) {
      clear: both;
      position: relative;
      display: block;
      margin-left: 180px;
      margin-bottom: 10px;
      top: -5px;
    }

    @media (max-width: 456px) {
      margin-left: 0;
    }
  }

  @media (max-width: 636px) {
    &.text .error {
      margin-left: 0;
    }
  }
}

.radio-collection {
  span {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 23px;
    height: 23px;
    background: image-url('icon-star-rating.png') no-repeat;

    @include device-pixel-ratio {
      background-image: image-url('icon-star-rating@2.png');
      background-size: 23px 72px;
    }

    label {
      float: none;
      display: block;
      text-indent: -9999px;
    }

    input {
      position: absolute;
      top: -100px !important;

      &:focus {
        outline: none;
      }
    }

    &.active {
      background-position: 0 -50px;
    }
  }
}

.radio-collection,
.star-ratings {
  display: inline-block;
  min-width: 115px;
}

.star-rating {
  float: left;

  &,
  .star {
    display: block;
    width: 23px;
    height: 23px;
    background: image-url('icon-star-rating.png');
    @include appearance(none);

    @include device-pixel-ratio {
      background-image: image-url('icon-star-rating@2.png');
      background-size: 23px 72px;
    }

    &.active {
      background-position: 0 -50px;
    }
  }
}

.alert {
  position: fixed;
  width: 80%;
  left: 5%;
  top: 10px;
  padding: 5px 10px;
  padding-right: 30px;
  color: #8a6d3b;
  text-align: center;
  background: #fcf8e3;
  border: 1px solid #faebcc;
  @include border-radius(4px);

  &.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
  }
}

.close {
  position: absolute;
  right: 4px;
  top: 5px;
  margin: 0;
  padding: 5px;
  padding-bottom: 0;
  color: inherit;
  font-size: 18px;
  line-height: 1;
  background: transparent;
  border: none;
}

p.intro-text {
  margin: 0;
  margin-bottom: $gutter;
  color: $grey-5;
  font-size: 17px;
  font-weight: 300;
}

.filter-block {
  margin-bottom: $gutter-two-thirds;

  @include ie-lte(7) {
    padding-top: 0;
  }

  .business-location {
    margin:0 0 30px 0;
  }

  display: block;


  h2 {
    @include core-16;
    font-family: $custom-font-family;
    //padding-top: $gutter-one-third;
  }

  form {
    padding: 0;
    //border-top: 10px $light-blue solid;
    //margin-top:1.5em;

    fieldset {
      position: relative;
      margin: 0;

      .filter {
        width: 100%;
        margin-top: 0;

        @include media (tablet) {
          margin-top: 0;
        }
      }
    }
  }

  .sub-filter {
    margin-top: $gutter-half;
  }

  label {
    display: none;
    color: $grey-5;
    font-size: 13px;
    font-weight: bold;

    @include ie-lte(8){
      display: inline;
    }

    &.title {
      @include copy-19;
      font-family: $custom-font-family;
      font-weight: bold;
      display:block;
      margin-bottom:2px;
    }

    &.sub-title {
      @include core-19;
      font-family: $custom-font-family;
    }
  }

  .input,
  .hint {
    clear: both;
  }

  .input.radio_buttons {
    margin-left: $gutter-half;
    margin-bottom: 10px;

    @include is-iphone {
      margin-left: 0;
      margin-bottom: 15px;
    }

    label {
      @include is-iphone {
        font-size: 14px;
      }
    }

    .radio_buttons {
      display: block;
      font-weight: 400;

      @include is-iphone {
        margin-bottom: 5px;
      }
    }

    .radio {
      float: left;
      position: relative;
      display: block;
      margin-right: 15px;

      label {
        display: inline-block;
        padding-left: 22px;
        font-weight: 300;
        white-space: nowrap;
      }

      .iradio {
        position: absolute;
        top: -1px;
        left: 0;

        @include is-iphone {
          border: 1px solid $grey-9;
          border-radius: 10000px;
        }
      }
    }
  }

  .boolean {
    min-height: 25px;
    margin-bottom: 10px;

    label {
      position: relative;
      display: block;
      top: 5px;
      margin-left: 50px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;

      @include is-iphone {
        margin-left: 30px;
      }
    }
  }

  .hint {
    display: block;
    color: $grey-1;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    margin-left: 15px;
    padding: 0;

    @include is-iphone {
      margin-left: 0;
    }
  }

  input {
    border: 1px solid $border-colour;
    width: 100%;
    margin: 0;
    outline: none;

    @include media (desktop) {
      padding: $gutter-one-sixth 0;
      text-indent: $gutter-one-third;
    }

    &.boolean {
      top: 25px;
      left: $gutter-two-thirds;

      @include is-iphone {
        top: 10px;
        border: 1px solid $grey-9;
      }
    }
  }

  .icheckbox_minimal {
    top: 23px;
    left: $gutter-half;

    @include is-iphone {
      width: 18px;
      height: 18px;
      top: 8px;
      left: 0;
      border: 1px solid $grey-9;
    }
  }

  select {
    background: #fff;
    line-height: 1.3;
    width: 100%;
  }

  .checkbox input {
    width: auto;
  }

  .multi-row-select {
    display: block;
    margin-bottom: $gutter-two-thirds;
    @include appearance(none);

    .select2-choices {
      padding: 4px;
      padding-right: 30px;
      background: $grey-7 image-url("icon-dropdown.png") no-repeat right 16px !important;
      background-position: right 17px;
      border-color: $grey-9;

      @include is-retina {
        background-image: image-url("icon-dropdown@2.png") !important;
        background-size: 22px 7px !important;
      }
    }

    &.select2-container-active .select2-choices,
    &.select2-dropdown-open .select2-choices {
      background: #fff;
      border-color: #5897fb;
    }
  }

  .multi_select:last-child .multi-row-select {
    margin-bottom: $gutter-one-third;
  }

  @include media (tablet) {
    .single-row-select {
      border: 1px solid #555;
      padding: $gutter-one-sixth $gutter-one-sixth $gutter-one-sixth $gutter-one-third;
      width: 100%;
      background: #fff;
      background-image: image-url('https://assets.digital.cabinet-office.gov.uk/government/assets/dropdown-arrow-small-a4f4e2df48e8d34de458bddf58e83a8a.png');
      background-repeat: no-repeat;
      background-position: right center;
      border-color: $border-colour;
      @include box-shadow(1px 1px 1px #fff);
      @include border-radius($gutter-one-sixth);
      @include appearance(none);
    }
  }

  .date-range {
    padding-bottom: $gutter-one-third;

    h3 {
      font-weight: bold;
      display: inline;
      padding-right: $gutter-half;
    }

    label {
      position: relative;
      padding-left: $gutter-two-thirds;
      padding-right: $gutter-one-third;
      &.visuallyhidden {
        position: absolute;
      }
    }
  }

  .checkbox {
    position: relative;
    label {
      display: block;
      padding-left: $gutter-two-thirds;
    }
    input {
      position: absolute;
      top: $gutter-one-sixth;
      left: 0;
      @include media (tablet) {
        top: $gutter * 0.25;
      }
    }
  }

  .submit {
    padding: $gutter-two-thirds 0 $gutter-one-third;
    margin: $gutter-one-sixth 0 0;

    @include media (desktop) {
      padding-bottom: 0;
    }
  }

  .disabled {
    opacity: 0.3;
    cursor: default;
    @include ie-lte(7){
      color: $secondary-text-colour;
    }
  }
}

.select2-drop .select2-results .select2-result-with-children {
  .select2-result-label {
    font-weight: bold !important;
  }

  li {
    .select2-result-label {
      font-weight: normal !important;
    }
  }
}

.filter-results {
  padding-top: $gutter;

  .no-results {
    padding: $gutter 0 $gutter-half;
    //border-bottom: 1px solid $border-colour;
    h2 {
      @include core-27;
      font-family: $custom-font-family;
    }
    h3 {
      @include core-19;
      font-family: $custom-font-family;
      font-weight: bold;
    }
    p {
      @include core-19;
      font-family: $custom-font-family;
      margin: $gutter-half 0;
    }
  }
}

.filter-results-summary {
  display: block;
  padding:0;
  margin:0;
  line-height: 1;

  h3 {
    @include copy-16;
    position: relative;
    color: $grey-5;
    font-family: $custom-font-family;
    font-size: 14px;
    -webkit-font-smoothing: initial;
    display: inline-block;
    top: -20px;
    margin-top:0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    font-weight: 400;

    @include media(tablet){
      padding-top: 0;
      padding-bottom: 0;
    }

    span {
      display: inline-block;
      padding-bottom:0px;

      @include media(tablet){
        padding-bottom: 0;
      }
    }

    .results-count {
      position: relative;
      top: 20px;
      margin-right: 5px;
      font-size: 48px;
      font-weight: 700;
    }
  }

  .feeds {
    margin:52px 0 0 0;
    float:right;
    display: block;
  }

  .count{
    padding-bottom: 0;
  }

  .selections {
    @include core-16;
    font-family: $custom-font-family;
  }

  .chosen {
    margin-bottom: $gutter-one-third;
    line-height: $gutter;

    strong {
      //@include bold;
      background-color: $panel-colour;
      padding: 0 $gutter-one-sixth;
      @include border-radius(3px);

      @include media (tablet) {
        white-space: nowrap;
      }

      a {
        position: relative;
        top: 2px;
        color: $link-colour;
      }
    }
  }
}

.select2-container-multi .select2-choices {
  .select2-search-field {
    width: 100%;

    input {
      width: 100% !important;
      font-size: 14px;
      text-indent: 0;
    }
  }

  .select2-search-choice {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 2px;
    color: #444;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    white-space: nowrap;
    background: $accent-block-colour;
    filter: none;
    border: none;
    @include border-radius(0);
    @include box-shadow(none);

    div {
      display: inline-block;
      max-width: 140px;
      margin-right: 15px;
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include is-ios {
        position: relative;
        top: -2px;
      }

      @include ie(8) {
        width: 140px;
      }

      @include ie(6) {
        float: left;
      }
    }

    .select2-search-choice-close {
      left: auto;
      right: 2px;
      top: 50%;
      margin-top: -4px;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      background: image-url('icon-close.png') no-repeat top left;

      @include device-pixel-ratio {
        margin-top: -4px;
        background-image: image-url('icon-close@2.png') !important;
        background-position: 0 0 !important;
        background-size: 9px 9px !important;
      }

      &:hover {
        background-position: 0 0;
        @include opacity(0.8);
      }
    }
  }
}

ul.tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: $gutter-two-thirds;

  li {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 7px;
    padding: 5px;
    padding-bottom: 2px;
    padding-right: 25px;
    color: #444;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    background: $accent-block-colour;

    @include is-iphone {
      padding-bottom: 3px;
      font-weight: 400;
    }

    span {
      position: relative;
      display: inline-block;
      max-width: 200px;
      top: -1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include is-iphone {
        top: -2px;
      }
    }

    a {
      position: absolute;
      display: block;
      width: 9px;
      height: 9px;
      right: 5px;
      top: 50%;
      margin-top: -3px;
      color: #fff;
      text-indent: -9999px;
      background: image-url('icon-close.png') no-repeat center center;

      @include device-pixel-ratio {
        background-image: image-url('icon-close@2.png');
        background-position: 0 0;
        background-size: 9px 9px;
      }
    }
  }
}

ul.results-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 19px;
  margin-bottom: 60px;
  border-top: 1px solid $grey-9;

  @include is-iphone {
    border-top: 3px solid #777;
  }

  li {
    margin: 0;
    padding-top: $gutter-two-thirds;
    padding-bottom: $gutter-one-sixth;
    border-bottom: 1px solid $grey-9;
  }

  h3 {
    @include copy-19;
    font-family: $custom-font-family;
    font-size: 18px;
    font-weight: 500;

    &,
    a {
      .scheme-businesses & {
        color: $color-businesses;
      }
      .scheme-teachers & {
        color: $color-teachers;
      }
    }

    @include media(tablet){
      padding:0;
      margin:0;
    }

    a {
      text-decoration:none;
      padding-right: 20px;
      background: image-url('icon-external-link.png') no-repeat;
      background-position: 1000px 1000px;

      @include device-pixel-ratio {
        background-image: image-url('icon-external-link@2.png');
        background-size: 12px 12px;
      }

      @include is-iphone {
        background-position: right center;
      }
    }

    a:hover {
      text-decoration:underline;
      background-position: right center;
    }
  }

  p {
    padding:0;
    margin:0;
    margin-top: 5px;
    margin-bottom: 15px;
    color: $grey-5;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63636364;

    &.attributes {
      color: $grey-1;

      @include media(tablet){
        padding: 0;
        margin:0;
        margin-top: 2px;
      }

    }
  }

  .feedback-link {
    margin-bottom: 0;
    font-size: 11px;
  }
}


.inner-block {
  padding: 0;

  @include media(tablet){
    padding: 0 $gutter;
  }

  &.floated-children {
    @extend %contain-floats;

    padding: 0;

    @include media(tablet){
      padding: 0 $gutter-half;
    }
  }
}

.button {
  @include button;
  @include bold-24;
  //padding: 0.45em 0 0.35em 0;
  //width: 100%;

}

.feed {
  display: inline-block;
  padding: 0 $gutter-one-third 0 $gutter-two-thirds;
  font-weight: bold;
  background: image-url('https://assets.digital.cabinet-office.gov.uk/government/assets/feed-icon-black-2797379a53d9064b97bc610ee4d3adae.png') 0 40% no-repeat;
}
.govdelivery {
  display: inline-block;
  padding: 0 $gutter-one-third 0 $gutter-two-thirds+$gutter-one-sixth;
  font-weight: bold;
  background: image-url('https://assets.digital.cabinet-office.gov.uk/government/assets/mail-icon-d0277821fbdd6977b32433de46f5fec7.png') 0 40% no-repeat;
  // @include hidpi {
  //   background-image: image-url('mail-icon-x2.png');
  //   background-size: $gutter-two-thirds 14px;
  // }
}

.previous-next-navigation {
  background: transparent;
  margin-left: -45px;
  width: auto;
  // @media (max-width: 640px) {
  //   margin-left: 0;
  //   width: 100%;
  // }

  position: relative;
  overflow: hidden;
  margin-top: $gutter*2;
  width: 100%;

  li {
    @include core-27;
    font-family: $custom-font-family;
    display: block;
    padding: 0;
    margin: 0;
    width: 45%;
    float: left;

    &.next {
      float: right;
      text-align: right;

      a {
        padding: $gutter-half $gutter-half+30px $gutter-half 0;
      }
      a:before {
        background: transparent image-url("https://assets.digital.cabinet-office.gov.uk/government/assets/arrow-sprite-2B8CC4-93afeb702f53a20045ad9f4ab8170825.png") no-repeat -102px -11px;
        margin: -4px -32px 0 0;
        display: block;
        float: right;
        width: 30px;
        height: 38px;
        content: " ";
      }
    }
    &.previous {
      a {
          padding: $gutter-half 0 $gutter-half $gutter-half+30px;
      }
      a:before {
        background: transparent image-url("https://assets.digital.cabinet-office.gov.uk/government/assets/arrow-sprite-2B8CC4-93afeb702f53a20045ad9f4ab8170825.png") no-repeat -20px -11px;
        margin: -4px 0 0 -32px;
        display: block;
        float: left;
        width: 30px;
        height: 38px;
        content: " ";
      }
    }

    a {
      display: block;
      text-decoration: none;

      span {
        display: block;
      }
      &:focus span,
      &:hover span {
        text-decoration: underline;
      }
      &:hover {
        background: $grey-4;
      }
      &:active {
        background: $grey-3;
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      float: none;
      &.next {
        float: none;
        a {
          padding: $gutter-half $gutter-half+30px;
        }
      }
      &.previous {
        a {
          padding: $gutter-half 0 $gutter-half $gutter-half+30px;
        }
      }
    }
  }
  &.infinite {
    background: transparent;
    li {
      text-align: left;
      float: none;
      padding-left: 40px;
      margin: 0 auto;
      width: 240px;
      a {
        padding: 15px 0;
      }
    }
    &.loading li {
      background: transparent image-url("loading-2b2c2d.gif") no-repeat 0 50%;
    }
  }
}

.business-support-finder .js-hidden { display: none; }

// <---------------------
// STYLES BORROWED FROM WHITEHALL APP
// FOR PROTOTYPE ONLY






// CUSTOM STYLES AND OVERRIDES
// WRITTEN FOR THIS PROTOTYPE

input[type="checkbox"] {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-top: -2px;
  margin-left: 0;
  background: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;

  .ie & {
    border: none;
  }
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: white;
  background-image: url(/assets/icon-checkbox.png);
  background-repeat: no-repeat;
  background-position: center center;

  @include device-pixel-ratio {
    background-image: url(/assets/icon-checkbox@2.png);
    background-size: 20px 20px;
  }
}

.scheme-finder-frontend {
  min-height: 100%;
  _height: 100%;
  z-index: 2;
  font-family: $custom-font-family;
  -webkit-font-smoothing: initial;

  > #content {
    padding-bottom: 77px;

    @media (max-width: 660px) {
      padding-bottom: 99px;
    }

    @media (max-width: 480px) {
      padding-bottom: 183px;
    }
  }

  a {
    color: $accent-link-colour;
  }

  header.page-header > div,
  #content > .article-container {
    position: relative;
    max-width: $max-site-width -$gutter-two-thirds*2;
    margin: 0 auto;
    padding: 0 $gutter-two-thirds;

    @include ie(6) {
      width: $max-site-width -$gutter-two-thirds*2;
    }
  }

  header.page-header {
    height: 85px;
    background: #333;

    @media (max-width: 660px) {
      height: auto;
    }

    @include is-iphone {
      height: 110px;
    }

    .inner-block {
      padding: 0 $gutter-two-thirds;
    }

    h1 {
      margin-bottom: 0;
      padding: $gutter-two-thirds 0;
      padding-bottom: $gutter-one-third;
      font-size: 36px;
      font-weight: 500;
      line-height: 1;
      background-repeat: no-repeat;
      background-position: $gutter-one-third center;

      &,
      a {
        color: #fff;
        text-decoration: none !important;
      }
    }

    .pull-right {
      position: absolute;
      right: $gutter-two-thirds;
      top: 0;
      margin: 0;

      @media (max-width: 660px) {
        position: static;
        margin-bottom: $gutter-two-thirds;
      }
    }

    p {
      margin-top: 32px;
      margin-bottom: 0;
      color: #fff;
      font-size: 18px;
      font-weight: 300;

      @media (max-width: 660px) {
        margin-top: $gutter-one-sixth;
      }
    }
  }

  #content > .article-container {
    padding-top: $gutter*3;
    padding-bottom: $gutter*3;

    @media (max-width: 900px) {
      padding-top: $gutter*1.5;
      padding-bottom: $gutter*2;
    }

    @include is-ipad {
      padding-top: $gutter;
    }

    h1 {
      margin-bottom: $gutter-two-thirds;
      color: #444;
      font-size: 30px;
      font-weight: 700;

      @include ipad("portrait") {
        font-size: 26px;
      }

      @include is-iphone {
        margin-bottom: $gutter-one-third;
        font-size: 26px;
      }
    }
  }

  h2 {
    margin-bottom: $gutter*2;
    color: $grey-5;
    font-size: 24px;
    font-weight: 300;

    @include ipad("portrait") {
      font-size: 20px;
    }

    @include is-iphone {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: $gutter;
    }

    &.feedback-title {
      line-height: 1.6;

      .star-ratings {
        position: relative;
        top: 1px;
      }

      small {
        position: relative;
        display: inline-block;
        top: -3px;
        margin-left: 10px;
        font-weight: normal;
      }
    }

    a {
      margin-right: 10px;
      color: $accent-header-colour;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .block-2,
  .block-4 {
    margin-top: $gutter*1.5;

    @include is-iphone {
      margin-top: $gutter;
    }
  }

  .block-6 {
    padding-left: $gutter-two-thirds;
    padding-right: $gutter-two-thirds;
  }

  .button {
    padding: 10px 12px;
    font-family: $custom-font-family;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: initial;
    border: none;
    outline: none;
    @include box-shadow(none);
    @include border-radius(0);

    &,
    &:active,
    &:hover,
    &:focus,
    &:visited,
    &.disabled:hover,
    &[disabled="disabled"]:hover,
    &[disabled]:hover {
      color: #000 !important;
      background-color: $btn-color !important;
      text-decoration: none !important;
    }

    &:active {
      top: 0;
      @include box-shadow(none);
    }

    &.btn-businesses,
    &.btn-teachers {
      color: #fff !important;
    }

    &.btn-businesses {
      background-color: $color-businesses !important;
    }

    &.btn-teachers {
      background-color: $color-teachers !important;
    }
  }

  .no-matching-feedbacks,
  .no-matching-schemes {
    h2 {
      margin-top: $gutter-two-thirds;
      margin-bottom: 0;
      padding: 0;
      color: #444;
    }

    p {
      margin-top: $gutter-one-sixth;
      color: $grey-1;
      font-size: 14px;
    }
  }
}

.scheme-finder-search {
  @include ie-lte(8) {
    .block-2 {
      float: left;
      width: 41.1290323%;

      .inner-block {
        padding: 0 $gutter;
      }
    }
    .block-4 {
      float: left;
      width: 58.870967%;

      .inner-block {
        padding: 0 $gutter 0 $gutter-half;
      }
    }
  }

  @include media(tablet) {
    .block-2 {
      float: left;
      position: absolute;
      width: 340px;

      .inner-block {
        padding: 0;
        padding-right: $gutter;

        @include ipad("portrait") {
          padding-right: $gutter-two-thirds;
        }
      }
    }

    .block-4 {
      float: right;
      width: 100%;

      .inner-block {
        margin-left: 340px;
        padding: 0;
        padding-left: $gutter-half;
      }

      @include right-to-left {
        float: right;
        .inner-block {
          padding: $gutter-one-sixth $gutter-half 0 $gutter;
        }
      }
    }
  }

  .block-4 {
    min-height: 560px;
    @media (max-width: 640px) {
      min-height: 0 !important;
    }
  }
}

.start-page .scheme-finder-frontend {
  a {
    text-decoration: none;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }

  #content > .article-container .intro {
    .get-started-intro {
      position: relative;

      h1 {
        margin-bottom: $gutter*2;
        line-height: 1.3;

        @media (max-width: 900px) {
          margin-bottom: $gutter;
        }

        @include ipad("portrait") {
          font-size: 26px;
        }

        @include is-iphone {
          font-size: 26px;
        }
      }

      p {
        width: 47.826087%;
        margin-bottom: $gutter*2.5;
        color: $grey-5;
        font-size: 24px;
        font-weight: 300;

        @media (max-width: 900px) {
          max-width: 440px;
          width: 100%;
          margin-bottom: $gutter*2;
        }

        @include ipad("portrait") {
          max-width: 370px;
          font-size: 20px;
        }

        @include is-iphone {
          margin-bottom: $gutter-two-thirds;
          color: $grey-5;
          font-size: 19px;
          line-height: 1.5;
        }
      }

      .partnership-container {
        overflow: hidden;
        position: absolute;
        width: 41.1%;
        top: 10px;
        right: 0;
        padding: 30px 0;
        border: 1px solid #999;

        @media (max-width: 900px) {
          overflow: visible;
          position: static;
          width: 100%;
          margin-bottom: $gutter*2;
        }

        @include ipad("portrait") {
          overflow: hidden;
          position: absolute;
          width: 315px;
          margin-top: -3px;
          margin-bottom: 0;
          padding: 13px 0;
        }

        @include is-iphone {
          overflow: hidden;
          padding: 13px 0;
        }

        p {
          width: 100%;
          margin: 0;
          margin-bottom: 10px;
          padding-left: 30px;
          padding-right: 40px;
          font-size: 16px;
          line-height: 1.45;

          @media (max-width: 900px) {
            max-width: 80%;
          }

          @include ipad("portrait") {
            max-width: 100%;
            padding-left: 15px;
            font-size: 15px;
          }

          @include is-iphone {
            max-width: 89%;
            padding-left: 15px;
            font-size: 15px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          strong {
            display: block;
            margin-bottom: 20px;

            @include ipad("portrait") {
              margin-bottom: 15px;
            }
          }
        }
      }
    }

    h3 {
      margin-bottom: $gutter;
      font-size: 24px;

      @media (max-width: 900px) {
        margin-bottom: $gutter-half;
      }
    }

    .pull-left,
    .pull-right {
      float: left;
      width: 41.3043478%;
      margin-top: $gutter*1.5;

      @media (max-width: 900px) {
        width: 100%;
      }

      @include ipad("portrait") {
        width: 45%;
      }

      p {
        margin-top: 0;
        margin-bottom: $gutter*1.5;
        color: $grey-5;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.66666667;

        @media (max-width: 900px) {
          margin-bottom: $gutter;
        }
      }
    }

    .pull-right {
      float: right;

      @media (max-width: 900px) {
        margin-top: $gutter*2;

        @include ipad("portrait") {
          margin-top: $gutter*1.5;
        }
      }
    }

    .button {
      width: 100%;
      padding: 12px 0;
      font-size: 16px;
      font-weight: 300;
      text-align: left;
      text-indent: 20px;
      letter-spacing: 0.08em;
      background-image: image-url('icon-arrow-right.png');
      background-repeat: no-repeat;
      background-position: right center;

      @include device-pixel-ratio {
        background-image: image-url('icon-arrow-right@2.png');
        background-size: 28px 20px;
      }

      @media (min-width: 644px) {
        font-size: 18px;
      }

      @include is-ios {
        font-weight: 400;
      }

      @include is-iphone {
        padding-bottom: 14px;
        letter-spacing: 0.04em;
      }

      @include ie-lte(8) {
        width: 360px;
        padding-left: 20px;
        text-indent: 0;
      }
    }
  }
}

.had-direct-interactions-container {
  overflow: hidden;
  margin: 0;
  margin-bottom: $gutter-two-thirds;
  padding: 0;
  padding-top: $gutter-two-thirds;
  padding-bottom: $gutter-half;
  background: #f0f0f0;

  @include is-iphone {
    padding-top: 0;
    background: transparent;
  }

  .filter.multi_select,
  .filter.grouped_select {
    max-width: 90%;
    margin-left: $gutter-half;

    @media (max-width: 640px) {
      max-width: 95%;
    }

    @media (max-width: 500px) {
      max-width: 90%;
    }

    @include is-iphone {
      max-width: 100%;
      margin-left: 0;
    }

    .select2-choices {
      border-color: #fff;

      @include is-iphone {
        border-color: $grey-9;
      }
    }
  }
}

.filter-block form fieldset .filter.search_had_direct_interactions {
  display: block;

  @include is-iphone {
    position: relative;
  }

  @include ie(6) {
    position: relative;
    left: -$gutter-one-third;
    margin-top: 0;
    margin-left: 0;
    margin-right: -$gutter-two-thirds;
  }
}

.block-2 .want-submit-own-scheme {
  margin-bottom: $gutter*2;

  h3 {
    color: $black;
    font-weight: bold;
    margin-bottom: $gutter-one-third;
  }
}

.form-inputs {
  .input {
    clear: both;
    min-height: 37px;
  }

  label {
    float: left;
    min-width: 180px;
    margin-top: 7px;
    color: $grey-5;
    font-size: 14px;
    font-weight: 400;

    abbr {
      color: red;
      border: none;
    }
  }

  .input.boolean {
    margin-left: 180px;
    margin-bottom: 10px;

    @media (max-width: 636px) {
      max-width: 210px;
    }

    @media (max-width: 456px) {
      max-width: none;
      margin-left: 0;
    }

    label {
      float: none;
    }

    input {
      outline: none;
    }
  }

  .select2-container-multi {
    display: inline-block;
    max-width: 410px;
    margin-bottom: $gutter-half;
    @include appearance(none);

    .select2-choices {
      padding: 3px;
      background: $grey-7;
      border-color: $grey-9;
    }

    &.select2-container-active .select2-choices,
    &.select2-dropdown-open .select2-choices {
      background: #fff;
      border-color: #5897fb;
    }
  }

  .grouped_select,
  .multi_select {
    @media (max-width: 456px) {
      label {
        float: none;
      }

      .select2-container-multi {
        max-width: none;
        width: 100% !important;
        margin-left: 0;
      }
    }
  }

  input.string,
  input.numeric,
  textarea {
    float: left;
    max-width: 210px;
    width: 100%;
    margin: 0;
    margin-bottom: $gutter-half;
    padding: 8px 9px;
    font-size: 14px;
    background: $grey-7;
    border: 1px solid $grey-9;
    outline: none;
    @include appearance(none);
    @include border-radius(0);

    @media (max-width: 456px) {
      max-width: 97%;
    }
  }

  textarea {
    max-width: 390px;

    @media (max-width: 456px) {
      max-width: 97%;
    }
  }
}

body .form-inputs .grouped_select .select2-container-multi,
body .form-inputs .multi_select .select2-container-multi {
  @media (max-width: 464px) {
    width: 103% !important;
  }
}

.form-actions {
  clear: both;
  margin-top: 30px;

  &.scheme-actions {
    width: 103%;
    max-width: 593px;

    @media (max-width: 644px) {
      max-width: 410px;
    }
  }

  .button {
    float: right;
  }

  .btn-search {
    width: 200px;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-indent: 20px;
    letter-spacing: 0.08em;
    background-image: image-url('icon-arrow-right.png');
    background-repeat: no-repeat;
    background-position: right center;

    @include device-pixel-ratio {
      background-image: image-url('icon-arrow-right@2.png');
      background-size: 28px 20px;
    }

    @media (min-width: 644px) {
      width: 100%;
    }

    @include is-ios {
      width: 100%;
      font-weight: 400;
    }

    @include is-iphone {
      padding-bottom: 14px;
      letter-spacing: 0.04em;
    }

    @include ie-lte(8) {
      width: 100%;
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  #ipad-check {
    display: block;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape), only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait), only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape), only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {

  html,
  body {
    background: $grey-8;
  }

  .mobile-show {
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .filter-block .multi-row-select.select2-container-active .select2-choices,
  .filter-block .multi-row-select.select2-dropdown-open .select2-choices {
    @include box-shadow(none);
  }

  .select2-container-multi .select2-choices .select2-search-choice {
    margin-top: 6px;
    margin-right: 1px;
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 10px;

    div {
      position: relative;
      top: -1px;
    }
  }

  .select2-drop-mask {
    background-color: #999;
    opacity: 0.6;
  }

  .select2-drop {
    position: fixed !important;
    top: 0 !important;
    left: auto !important;
    right: 0 !important;
    width: 245px !important;
    height: auto !important;
    background: $grey-6;
    border: none !important;
    @include border-radius(0 !important);
    @include box-shadow(0 -4px 5px rgba(0, 0, 0, 0.25));

    &.height-checked {
      height: 101% !important;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .select2-results {
      max-height: 100%;
      margin: 0;
      padding: 0;

      .select2-no-results {
        display: none !important;
      }

      .select2-selected {
        display: block;
        background: #e9e9e9 image-url('icon-select-check.png') no-repeat right center;

        @include device-pixel-ratio {
          background-image: image-url('icon-select-check@2.png');
          background-size: 31px 18px;
        }

        .select2-result-label {
          color: #333;

          .scheme-businesses & {
            color: $color-businesses;
          }
          .scheme-teachers & {
            color: $color-teachers;
          }
        }
      }

      .select2-highlighted {
        background: transparent;
        color: inherit;
      }

      .select2-result-with-children li .select2-result-label {
        font-weight: 300 !important;
      }

      .select2-result-label {
        padding-top: 11px;
        padding-bottom: 9px;
        padding-left: 15px;
        padding-right: 40px;
        color: $grey-5;
        font-size: 14px;
        font-weight: 300 !important;
      }

      .select2-result-with-children > .select2-result-label {
        display: none;
      }

      ul.select2-result-sub > li .select2-result-label {
        padding-left: 15px;
      }
    }
  }

  #back-banner {
    background: $accent-link-colour;

    .scheme-businesses & {
      background: $color-businesses;
    }
    .scheme-teachers & {
      background: $color-teachers;
    }

    a {
      display: block;
      width: 39px;
      height: 39px;
      background: image-url('icon-arrow-left.png') no-repeat center center;
      text-indent: -9999px;

      @include device-pixel-ratio {
        background-image: image-url('icon-arrow-left@2.png');
        background-size: 39px 39px;
      }
    }
  }

  .form-actions {
    max-width: none;
    margin-bottom: $gutter-two-thirds;

    .button {
      float: none;
    }
  }

  .scheme-finder-frontend {
    position: relative;
    padding-top: 0;
    background: $white;

    header.page-header div {
      padding-left: 0;
      padding-right: 0;

      h1 {
        font-size: 30px;
        text-align: center;
      }

      .pull-right {
        margin-bottom: 15px;
        text-align: center;

        p {
          margin: 0;
          font-size: 17px;
        }
      }
    }

    .block-6,
    .inner-block {
      margin-top: $gutter;
      padding-left: 0;
      padding-right: 0;
    }

    h2 {
      &.feedback-title {
        position: relative;
        margin-bottom: $gutter;

        .star-ratings {
          top: 4px;
          margin: 0;
          min-width: 58px;

          .star-rating,
          .star {
            width: 12px;
            height: 12px;
            background-size: 12px 36px;
          }

          .star.active {
            background-position: 0 -61px;
          }
        }

        small {
          position: relative;
          top: -5px;
          margin-left: 5px;
          font-size: 10px;
        }
      }
    }

    .inner-block {
      margin-top: 0;
    }

    .scheme-finder-search > h2 {
      display: none;
    }

    .no-matching-feedbacks,
    .no-matching-schemes {
      margin-bottom: $gutter-two-thirds;

      h2 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
        line-height: 1.45;
      }
    }

    .form-inputs {
      label {
        font-size: 11px;
      }

      .input {
        margin-right: 11px;
      }

      textarea {
        max-width: none;
      }

      .radio-collection-input {
        max-width: 230px;
        margin-right: 0;

        label {
          min-width: 0;
        }
      }
    }

    .radio-collection {
      float: right;
      position: relative;
      top: -12px;
    }

    .filter-block {
      &,
      form fieldset .filter.search_had_direct_interactions {
        margin: 0;
        margin-bottom: $gutter-half;
        padding: 0;
        background: transparent;
        border: none;

        @include is-iphone {
          margin-bottom: $gutter-one-third;
        }
      }

      label {
        font-size: 11px;
      }

      label.boolean,
      .hint {
        font-size: 12px;

        @include is-iphone {
          font-size: 14px;
        }
      }

      label.boolean {
        display: inline-block;
        position: relative;
        line-height: 1.3333;
      }

      .multi-row-select {
        max-width: none;
      }
    }

    ul.results-list {
      margin-bottom: 0;

      li {
        h3 {
          font-size: 16px;
          line-height: 1.4;
        }

        p {
          font-size: 14px;
        }

        .feedback-link {
          margin-bottom: 0;
          font-size: 10px;
        }

        &.feedback {
          padding-top: $gutter-one-third;
          padding-bottom: $gutter-one-sixth;

          .star-ratings {
            position: relative;
            display: inline-block;
            margin: 0;
            min-width: 58px;

            .star-rating {
              width: 12px;
              height: 12px;
              background-size: 12px 36px;

              &.active {
                background-position: 0 -61px;
              }
            }
          }

          p {
            margin-top: $gutter-one-sixth;
            margin-bottom: $gutter-one-sixth;
          }
        }
      }
    }

    .feedback-link {
      display: inline-block;
      margin-bottom: $gutter-two-thirds;
      font-size: 10px;
    }
  }

  .start-page {
    #back-banner {
      display: none !important;
    }

    .get-started {
      margin-bottom: $gutter*2;
    }

    .scheme-finder-frontend {

      .article-container {
        padding-left: 20px;
        padding-right: 20px;
      }

      header.page-header {
        div {
          margin-bottom: $gutter-one-third;
          padding-left: 0;
        }
      }
    }
  }

  .intro-page {
    a.button.big {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      text-indent: -9999px;
      background-color: $grey-7 !important;
      border: none;
      @include border-radius(0);
    }
  }
}