li.scheme
  h3
    = link_to scheme.name,
              scheme.website_url,
              target: "_blank",
              data: { ga_scheme_click: true,
                      ga_tool_completed: true }

  p
    = simple_format scheme.description

  = link_to "Leave feedback",
            [:new, scheme, :feedback],
            class: "btn feedback-link",
            data: { action: "leave_feedback" }
  = link_to "View feeback",
            [scheme, :feedbacks],
            class: "btn feedback-link",
            data: { action: "show_feedback" }
