= simple_form_for search,
                  as: :search,
                  url: search_schemes_path,
                  method: :get,
                  remote: true,
                  defaults: { wrapper_html: { class: "filter" } },
                  html: { class: "horizontal-form scheme-search-form" } do |f|

  fieldset
    = f.input :had_direct_interactions,
              as: :boolean,
              label: "Have you engaged with schools before?"

    = f.input :locations,
              as: :grouped_select,
              group_method: :last,
              label: 'Location',
              collection: Location.collection,
              required: false,
              input_html: { class: "multi-row-select js-select2", multiple: true }

    = f.input :sectors,
              as: :multi_select,
              label: 'Sector',
              collection: Sector.collection,
              required: false,
              input_html: { class: "multi-row-select" }

    = f.input :commitment_lengths,
              as: :multi_select,
              label: 'Commitment length',
              collection: CommitmentLength.collection,
              label: "Length of commitment",
              required: false,
              input_html: { class: "multi-row-select" }

    = f.input :activities,
              as: :multi_select,
              collection: Activity.collection,
              label: 'Activity',
              required: false,
              input_html: { class: "multi-row-select" }

    = f.input :company_sizes,
              as: :multi_select,
              collection: CompanySize.collection,
              label: 'Company size',
              required: false,
              input_html: { class: "multi-row-select" }

    = f.input :age_ranges,
              as: :multi_select,
              label: 'Age range',
              collection: AgeRange.collection,
              required: false,
              input_html: { class: "multi-row-select" }

  .form-actions.hide
    = f.button :submit, "Refresh",
               class: "btn btn-primary",
               id: "submit_btn",
               data: { action: "submit" }
