h4 Search

= simple_form_for search,
                  as: :search,
                  url: schemes_path,
                  method: :get,
                  html: { class: "horizontal-form" } do |f|

  .form-inputs
    = f.input :had_direct_interactions,
              as: :boolean,
              label: "Have you engaged with schools before?"

    = f.input :location,
              as: :select,
              collection: Location.collection,
              required: false,
              input_html: { class: "span6 js-select2 js-select2" }

    = f.input :sector,
              as: :select,
              collection: Sector.collection,
              required: false,
              input_html: { class: "span6 js-select2" }

    = f.input :commitment_length,
              as: :select,
              collection: CommitmentLength.collection,
              label: "Length of commitment",
              required: false,
              input_html: { class: "span6 js-select2" }

    = f.input :activity,
              as: :select,
              collection: Activity.collection,
              required: false,
              input_html: { class: "span6 js-select2" }

    = f.input :company_size,
              as: :select,
              collection: CompanySize.collection,
              required: false,
              input_html: { class: "span6 js-select2" }

    = f.input :age_range,
              as: :select,
              collection: AgeRange.collection,
              required: false,
              input_html: { class: "span6 js-select2" }

  .form-actions
    = f.button :submit, "Search",
               class: "btn btn-primary",
               id: "submit_btn",
               data: { action: "submit" }
