---
http_interactions:
- request:
    method: get
    uri: http://scheme-finder-api.dev.bitzesty.com/api/v1/schemes.json?page=1&per_page=10&sectors%5B0%5D=life_sciences
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7a54f57b10c6680d593fd597fd948299"'
    body:
      encoding: UTF-8
      string: '{"schemes":[{"id":2,"logo":{"logo":{"url":"/assets/fallback/logo_default.png","logo":{"url":"/assets/fallback/logo_default.png"}}},"contact_name":"a","contact_email":"a@kaka.com","contact_phone":"a","name":"a","website":"a","description":"f","location_ids":["england"],"sector_ids":["life_sciences"],"commitment_length_ids":["few_hours"],"activity_ids":["work_experience"],"company_size_ids":["10-249"],"age_range_ids":["primary_school_children"]}],"total":1,"page":1,"per_page":10}'
  recorded_at: Thu, 02 Jan 2014 15:23:29 GMT
recorded_with: VCR 2.8.0
