= simple_form_for feedback,
                  as: :feedback,
                  url: scheme_feedbacks_path(scheme_id: scheme_id),
                  html: { class: "horizontal-form scheme-search-form" } do |f|

  .form-inputs

    .input.radio-collection-input
      label.col-sm-2.required
        abbr title="required"
          ' *
        ' Score
      .radio-collection.col-sm-10
        = f.collection_radio_buttons :score,
                  [[1],[2],[3],[4],[5]], :first, :last,
                  required: true

    = f.input :description,
              as: :text,
              required: true,
              input_html: { rows: 5 }

  .form-actions
    = f.button :submit,
               class: "btn btn-primary",
               id: "submit_btn",
               data: { action: "submit", disable_with: "Working" }
